.blue1-bg {
    color: #1757e8
}

.orange1-bg {
    color: #ff5f00
}

.pink1-bg {
    color: #dd1aef
}

.green1-bg {
    color: #07c88b
}

.purple1-bg {
    color: #6b22ff
}

.blue2-bg {
    color: #6dbafb
}

.orange2-bg {
    color: #e69905
}

.blue3-bg {
    color: #0090ff
}

.pink2-bg {
    color: #ff00a2
}

.purple2-bg {
    color: #7153ad
}

.red1-bg {
    color: #d30000
}

.green2-bg {
    color: #00c2b7
}

.orange3-bg {
    color: #ef6907
}

.green3-bg {
    color: #0095ba
}

.gray1-bg {
    color: #bfb9c7
}

.white-bg {
    color: #fff
}

.blue1-text {
    color: #1757e8
}

.orange1-text {
    color: #f45e05
}

.pink1-text {
    color: #cf1edf
}

.green1-text {
    color: #13bb86
}

.purple1-text {
    color: #5f1aec
}

.blue2-text {
    color: #39b3e6
}

.orange2-text {
    color: #d58f08
}

.blue3-text {
    color: #1c93ee
}

.pink2-text {
    color: #ed1568
}

.purple2-text {
    color: #7153ad
}

.red1-text {
    color: #d30000
}

.green2-text {
    color: #00c2b7
}

.orange3-text {
    color: #ef6907
}

.green3-text {
    color: #0095ba
}

.gray1-text {
    color: #8c8898
}

.white-text {
    color: #fff
}