  /*look listen repeat*/
  .drop-box {
    width: 100px;
    height: 40px;
    border: 1px solid #aaaaaa;
    margin-bottom: 10px;
  }
  .drag-box {
      height: 40px !important;
      background-color: orange;
      text-align: center;
      width: 100px;
      position: relative;
      display: block;
  }
  .dialog-box {
      position: relative;
      margin-top: 20px;
      margin-bottom: -8px;
      width: 185px;
      height: 50px;
      padding: 0px;
      background: #FFFFFF;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      border-radius: 18px;
      border: #817F7F solid 2px;
  }
  .dialog-box:after {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 20px 7px 0;
      border-color: #FFFFFF transparent;
      display: block;
      width: 0;
      z-index: 1;
      bottom: -20px;
      left: 81px;
  }
  .dialog-box:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 21px 8px 0;
      border-color: #817F7F transparent;
      display: block;
      width: 0;
      z-index: 0;
      bottom: -23px;
      left: 80px;
  }
  .non-character {}
  .look-listen-repeat-person-name{
    font-weight: bold
  }
  .look-listen-repeat-image{
    border-radius: 20px;
  }

/*drag drop listen and number*/
  .dragDropListenAndNumber-fillBox{
    width: auto;
    height: 200px;
    border:1px;
    border: dashed 1px blue;
    border-radius:15px;
    border-color: rgb(125, 125, 125);
    padding-top: 80px;
  }
  
  .readAndWriteCompleteParagraph-fillBox{
    width: 280px;
    border:1px;
    border: dashed 1px blue;
    border-radius:15px;
    border-color: rgb(125, 125, 125);
    padding: 6px 6px 6px 6px;
  }

  .dragDropListenAndNumber-imageBox{
    width: auto;
    height: 200px;
    border:1px;
    border-style:solid;
    border-radius:15px;
    border-color: rgb(125, 125, 125);
  }

  /*drag Drop Read And Complete Paragraphs */

  .dragDropReadAndCompleteParagraphs-blankBox{
    border-radius:15px;
    margin-top: 30px;
    width:200px;
    height:60px;
    border:2px;
    border-style:dashed;
  }

  .dragDropReadAndCompleteParagraphs-fillBox{
    border-radius:15px;
    padding-top: 5px;
    text-align: center;
    margin: 20px 0px 10px 20px;
    color: white;
    width:180px;
    height:50px;
    border:1px;
    background-color: rgb(255, 163, 25);
  }

  /* listen and tick*/

  .digitCircle {
    border-radius: 50%;
    width: 30px;
    height: 25px;
    padding: 1px;

    background: #EC870E;
    border: 2px solid #EC870E;
    color: #666;
    text-align: center;
    font: 20px Arial, sans-serif;
  }
  input[type=radio].listen-and-tick-radio {
      float: left; margin-left: 1px; zoom:1.3
  }
  input[type=radio].wrong {
       /* Dinh nghia sau */
  }
  input[type=radio].correct {
      /* Dinh nghia sau */
  }
  /* listen repeat letter word sentence*/

  td {
    padding: 10px 25px;
  }
  .letter {
    color: red;
  }
  .word {
    text-align: center;
    -webkit-box-shadow: 17px 16px 21px -7px rgba(0,0,0,0.38);
    -moz-box-shadow: 17px 16px 21px -7px rgba(0,0,0,0.38);
    box-shadow: 17px 16px 21px -7px rgba(0,0,0,0.38);
    padding: 5px 12px;
    border-radius: 5px;
  }


  /*point and say*/

  input{
    line-height: 1
  }
  #importJSON div{
    line-height: 1
  }

  /* listen and write*/

  input[type=text].input_line{
    border: 0px;
    border-bottom: 1px dashed black;
    color: orange;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
    outline:none;
    width: 80px;
  }

  input[type=text].input_long_line{
    border: 0px;
    border-bottom: 1px dashed black;
    color: orange;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
    outline:none;
    width: 300px;
  }

  input[type=text].correct{
    color: green;
  }
  input[type=text].wrong{
    color: red;
  }
  /* putTheWordsInColumns */
  div.paragraph{
    margin-left: 20px;
    margin-right: 80px;
  }
  img.img-in-paragraph{
    padding-left: 20px;
  }
